/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

@layer components {
    .input-text {
      @apply border border-gray-200  rounded-sm p-2 w-full outline-none transition text-sky-900
      placeholder:text-gray-400;
    }
  
    .input-text:focus {
      @apply border-blue-400 ring-2 ring-blue-200 placeholder:text-gray-300;
    }

    .input-label{
        @apply p-1 block text-sky-900 font-bold;
    }

    .submit-button{
        @apply bg-sky-700 text-white font-bold py-2 px-4 rounded hover:bg-sky-700 transition;
    }

    .cancel-button{
        @apply text-sky-800 bg-gray-100 font-bold py-2 px-4 rounded hover:bg-gray-300 transition;
    }

    .page-title{
        @apply text-3xl m-10 text-sky-900;
    }
  }

.delete-icon{
    color: #ff4d4d;
    cursor: pointer;
}